name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  build:
    permissions:
      id-token: write
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.7

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9.4.0

      - name: Setup node
        uses: actions/setup-node@v4.0.2
        with:
          node-version: 20

      - name: Test run
        run: pnpx tsx ./scripts/test.ts
        env: 
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
